node_modules/
/public/assets/
/public/playground.cljs.helix.react-routing/js
/public/js

/out
/checkouts
/src/gen

.clj-kondo/.cache
.lsp/.cache
.cpcache

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
